@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Beranda";
}

<div class="col-12">
    <div class="callout callout-info">
        <h5><i class="fas fa-info"></i> Selamat Datang </h5> Selamat datang di Sistem Informasi Sarana dan Prasarana (SISPRAS), sebuah aplikasi berbasis web yang digunakan untuk menunjang proses pendataan aset di Universitas Atma Jaya Yogyakarta.
    </div>
</div>

