@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Beranda";
}

<div class="col-12">
    <div class="callout callout-info">
        <h5><i class="fas fa-info"></i> Penting: </h5> Webiste ini masih dalam pengembangan.
    </div>
</div>

